{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": [
    "@prettier/plugin-oxc",
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^#imports$",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/",
    "",
    "<TYPES>",
    "",
    "^[./]",
    "",
    ".css$"
  ],
  "importOrderCaseSensitive": false,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy", "vue"],
  "importOrderTypeScriptVersion": "5.9.0"
}
